@media screen and (max-width: 1380px) {
    .container{
        padding: 0px 16px;
    }
    .header{
        padding: 24px 16px 0px !important;
    }
}



@media screen and (max-width: 1024px) {
    /* hero section */
    .bg-img-div {
        background-position: top center !important;
    }

    .hero-left-div{
        padding-left: 0px !important;
    }

    .hero-h1{
        margin-left: 0px !important;
    }
    
    .macBook {
        transform: translate(-50%, -50%) !important;
        top: 109% !important;
        left: 72%;
    }


    .gamesta-dapp-header{
        padding-left: 0px !important;
        justify-content: center;
    }

    .gamesta-card-grid{
        padding-left: 0px !important;
        column-gap: 40px;
    }

    .gamesta-dapp-left-line{
        width: 170px !important;
        top: 160px !important;
    }

    .triangle-shape{
        clip-path: polygon(100% 15%, 100% 100%, -25% 100%);
    }
}



@media screen and (max-width: 985px) {
    .nav-ul{
        flex-direction: column;
        position: absolute;
        top: -600px;
        right: 10px;
        padding: 40px 60px;
        background-color: #ffffff;
        border-radius: 20px;
    }

    .nav-ul.active{
        top: 62px !important;
        z-index: 50;
    }

    .nav-ul-li-a{
        color: var(--primary-dark) !important;
    }
    
    .mobile-header-btn{
        display: block !important;
    }

    .desk-header-btn{
        display: none;
    }

    .menu-btn{
        display: block !important;
    }
}




@media screen and (min-width: 426px) and (max-width: 768px) {
    .bg-img-div{
        height: 1144px !important;
    }
    
    .hero-h1{
        margin-left: 0px !important;
    }

    .hero-left-div{
        padding-left: 0px !important;
    }

    .macBook{
        width: 100% !important;
        top: 200% !important;
        left: 50%;
    }

    .bodyguard{
        transform: translate(312%, 10%) !important;
    }

    .right-char{
        transform: translate(-91%, -228%) !important;
    }

    .left-char{
        transform: translate(75%, -55%) !important;
    }



    .gamesta-dapp-section{
        padding-top: 180px !important;
    }
    .gamesta-dapp-header{
        padding-left: 0px !important;
    }

    .gamesta-dapp-selected-p-div{
        right: -6% !important;
        top: -25%;
    }

    .gamesta-card-grid{
        padding-left: 0px !important;
    }

    .gamesta-dapp-left-line{
        width: 50px !important;
        top: 242px !important;
    }

    .triangle-shape {
        clip-path: polygon(100% 0%, 100% 100%, -97% 100%);
    }


    .play2earn-card-grid {
        grid-template-columns: 1fr !important;
        margin-bottom: 80px !important;
    }
}





@media screen and (min-width: 375px) and (max-width: 425px) {
    .container{
        padding: 0px 16px;
    }
    
    
    /* hero section */
    .bg-img-div{
        background-position: top center !important;
    }
    
    .header{
        margin-bottom: 48px !important;
    }
    
    .hero-h1{
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    .buy-gsg{
        line-height: 18px !important;
    }

    .buy-gsg-btns{
        margin-bottom: 24px !important;
    }

    .buy-gsg-btn{
        line-height: 20px !important;
    }

    .hero-left-div{
        padding-left: 0px !important;
    }

    .hero-left-div-p{
        margin-bottom: 24px !important;
        line-height: 20px !important;
    }

    .join-our-community{
        font-weight: 500 !important;
        line-height: 18px;
    }

    .hero-social-btn{
        padding: 12px 10.17px !important;
    }

    .social-icon{
        width: 20px;
        height: 20px;
    }

    .hero-content-div{
        flex-direction: column;
    }


    .characters-img-div{
        margin-top: 32px;
    }


    .macBook{
        width: 313.87px;
        transform: translate(-50%, -50%) !important;
        top: 162% !important;
        left: 50%;
    }

    .top-characters{
        width: clamp(100px, 61vw, 525px) !important;
    }

    .left-char{
        z-index: 1;
    }

    .right-char{
         transform: translate(-49%, -192%) !important;
    }

    .mobile-char{
        display: block !important;
        bottom: anchor(top);
        right: anchor(left);
        transform: translate(56%, 80%);
    }

    .triangle-shape {
        height: 105px;
        clip-path: polygon(100% 0%, 100% 100%, -168% 100%);
        z-index: 2;
    }




    /* Gamesta dApp */
    .gamesta-dapp-section{
        padding-top: 79.5px !important;
        padding-bottom: 140px !important;
    }
    
    .gamesta-dapp-header{
        padding-left: 0 !important;
    }

    .gamesta-dapp{
        text-align: center;
        margin-bottom: 8px !important;
    }

    .gamesta-dapp-p{
        font-size: 16px !important;
        text-align: center;
        line-height: 20px !important;
        margin-bottom: 48px !important;
    }

    .gamesta-dapp-selected-p-div{
        top: 15%;
    }

    .launching-in-p,
    .q4-2022{
        font-size: 8.34px;
        padding: 5px 9px;
    }

    .q4-2022{
        margin-left: 40px !important;
    }

    .gamesta-card-grid{
        padding-left: 0px !important;
        grid-template-columns: 1fr !important;
        row-gap: 32px !important;
    }

    .gamesta-card{
        flex-direction: column !important;
        align-items: center !important;
    }

    .gamesta-card-content-div{
        text-align: center;
    }

    .gamesta-card-h3{
        font-size: 24px !important;
        line-height: 18px;
        margin-bottom: 8px !important;
    }

    .gamesta-card-content-p{
        line-height: 18px;
    }

    .gamesta-dapp-left-line{
        width: 56.25px !important;
        rotate: -15deg !important;
        top: 110px !important;
    }







    /* future application section */
    .future-section{
        margin-top: 0px !important;
    }
    
    .future-heading-div{
        align-items: start !important;
    }
    

    .future-btn{
        padding: 8px !important;
        font-size: 12px !important;
    }
    

    .future-card-1{
        box-shadow: 0px 12px 16px -12px #27beff5e !important;
    }

    .future-card-2{
        box-shadow: 0px 12px 16px -15px #27beff85 !important;
    }


    .future-card-3{
        box-shadow: 0px 12px 16px -12px #d1d4d4 !important;
    }


    .future-card-4{
        box-shadow: 0px 12px 16px -12px #fc47c85e !important;
    }


    .future-card-5{
        box-shadow: 0px 12px 16px -12px #d1d4d4 !important;
    }


    .future-card-6{
        box-shadow: 0px 12px 16px -12px #73fa9b8a !important;
    }


    .future-card-7{
        box-shadow: 0px 15px 19px -18px #c399fdba !important;
    }





    /* Play 2 Earn */
    .play2earn-heading-div{
        margin-bottom: 23.8px !important;
    }

    .play2earn-top-h4{
        font-size: 18px !important;
        line-height: 24px !important;
    }

    .play2earn-h4-p{
        line-height: 18px !important;
        margin-bottom: 52px !important;
    }

    .play2earn-card{
        flex-direction: column;
    }

    .play2earn-card-p{
        font-size: 16px !important;
    }

    .play2earn-flex-end{
        align-items: end;
    }

    .play2earn-card-content-flex-end{
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
    }

    .nfts-card-mobile,
    .token-dynamics-card-mobile {
        display: flex !important;
    }

    .empowerment-card, .scholarships-card{
        display: none;
    }

    .play2earn-blue-stick{
        top: 2.6% !important;
    }

    .play2earn-blue-stick-mobile {
        display: block !important;
        width: 188px;
        top: 12%;
        left: -5%;
    }

    .play2earn-black-stick{
        display: none;
    }

    .play-2-earn-games{
        margin-left: 0px !important;
    }



    .play-hr-ecosystem{
        margin: 45px 0px !important;
    }




    /* Ecosystem & Treasury section */
    .ecosystem-section{
        margin-bottom: 60px !important;
    }

    .ecosystem-h2{
        font-size: 40px !important;
    }
    .treasuty-h2{
        margin-bottom: 23.97px !important;
    }

    .ecosystem-p-1{
        font-size: 18px !important;
    }

    .ecosystem-p-2{
        font-size: 16px !important;
    }

    .ecosystem-gsg-div-1{
        height: 184.99px !important;
    }

    .gsg-img{
        bottom: -2% !important;
        left: 10% !important;
    }

    .gsg-bottom-p{
        left: 0px !important;
    }

    .gsg-selected-p-1{
        padding: 3px 9px 3px 4px;
    }

    .gsg-selected-p-2{
        padding: 3px 11px 3px 4px;
        margin-top: -10px !important;
    }

    .gsg-selected-p-3{
        padding: 3px 16px 3px 4px;
        margin-top: -8px !important;
    }

    .ecosystem-header-p-group{
        margin-bottom: 20rem !important;
    }




    /* Distribution of game rewards ($GSG): */
    .distribution-h3{
        text-align: center;
        width: 343px;
        margin: 60px auto 34px auto !important;
    }

    .distribution-div{
        flex-direction: column;
    }

    .distribution-number80{
        width: 100%;
    }

    .distribution-80-p{
        margin-left: 0px !important;
        font-size: 16px;
        margin-top: 28px !important;
    }

    .distribution-80-p::after {
        width: 649.89px !important;
        height: 1px !important;
        top: 160% !important;
        rotate: 174.68deg !important;
    }
    
    .remaining-span{
        margin-bottom: -25px !important;
        font-size: 20px !important;
    }

    .remaining-20-img{
        width: 100%;
    }

    .remaining-20-div-p{
        font-size: 20px !important;
    }

    .all-distri-number-div{
        margin-left: 0px !important;
        grid-template-columns: 1fr 1fr !important;
        gap: 54px !important;
    }

    .number-div-2, .number-div-4{
        width: 154px !important;
    }




    .agency-div{
        height: 196.39px !important;
    }

    .agency-h2{
        -webkit-text-stroke: .32px #FFFFFF !important;
        left: 51.4% !important;
    }

    .agency-p-2{
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    .agency-btn{
        display: block !important;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5.15px;
        line-height: 5.15px;
        padding: 6.44px 7.7px 5.6px 7.73px;
        border: none;
        border-radius: 1.93px;
        background: linear-gradient(to right, #06C5C1, #009FEA);
        cursor: pointer;
        box-shadow: 0px 0px 16px -3px #000000c7;
    }




    /* Incubation & Advisory section */
    .advisory-section{
        margin-bottom: 35.16px !important;
    }
    
    .advisory-h2{
        text-align: center;
    }

    .advisory-title-paragraph{
        font-size: 16px !important;
        text-align: center;
        margin-bottom: 18px !important;
    }

    .advisory-services-span{
        margin-bottom: 18px !important;
        text-align: center !important;
        font-size: 16px !important;
    }

    .advisory-services-grid{
        grid-template-columns: 1fr !important;
        place-items: center;
    }

    .advisory-service{
        font-size: 16px !important;
        width: 241px;
    }




    /* BLACK GAMEX CARD section */
    .gamex-bg{
        height: 244.75px !important;
        padding-top: 26.72px !important;
    }

    .gamex-container-p{
        font-size: 10px !important;
        left: 35% !important;
    }

    .gamex-triangle-1{
        width: 204px !important;
        height: 32.79px !important;
        bottom: -1px !important;
    }

    .gamex-triangle-2{
        height: 36.3px !important;
        width: 337.28px !important;
        bottom: -1px !important;
        left: 16.16px;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    }



    /* Technical Roadmap section */
    .technical-roadmap-section{
        padding-top: 31.03px;
        padding-left: 16px !important;
        padding-right: 16px !important;
        margin-bottom: 30.37px !important;
    }

    .technical-h3{
        font-size: 24px;
        margin-bottom: 20px !important;
    }

    .roadmap-1{
        flex-direction: column;
        gap: 40px;
    }

    .sky-roadmap-content, .indigo-roadmap-content, .green-roadmap-content, .pink-roadmap-content{
        width: 100% !important;
    }

    .right-arrow{
        margin-bottom: 0px !important;
        margin-right: 0px !important;
        align-self: center !important;
        rotate: 90deg;
    }

    .roadmap-year{
        font-size: 18px !important;
    }

    .green-blue-bottom-arrow, .orrange-green-bottom-arrow{
        width: 290px;
        margin: 0 auto !important;
    }

    .roadmap-2{
        flex-direction: column;
        gap: 37px;
    }

    .green-indigo-right-arrow{
        margin-top: 4px;
    }

    .green-indigo-right-arrow, .indigo-orrange-right-arrow{
        margin-bottom: 0px !important;
        rotate: 90deg;
        align-self: center;
    }

    .orange-roadmap-content{
        width: 100% !important;
    }

    .roadmap-3{
        flex-direction: column;
        gap: 30px;
    }

    .green-pink-right-arrow, .pink-blue-right-arrow{
        rotate: 90deg;
        margin-top: 0px;
        align-self: center;
    }

    .pink-blue-right-arrow{
        margin-top: 7px;
    }




    /* Gamesta Team section */
    .gamesta-section{
        margin-bottom: 80px !important;
    }

    .gamesta-team-h2{
        font-size: 40px !important;
        margin-right: 0px !important;
        margin-bottom: 40px;
        text-align: start !important;
    }

    .gamesta-team-card-grid{
        display: flex !important;
        flex-direction: column;
        margin-bottom: 40px !important;
    }

    .gamesta-teem-card{
        margin-bottom: 60px !important;
    }

    .jody-taylor-card{
        margin-left: 0px !important;
        margin-top: 0px !important;
    }

    .sanjay-jadhav-card{
        padding-top: 0px !important;
        margin-bottom: 60px;
    }

    .james-rodd-card{
        margin-left: 0px !important;
        margin-bottom: 60px;
    }

    .david-silvester-card{
        margin-top: 0px !important;
    }


    .spencer-tarring-p, .sanjay-jadhav-p, .david-silvester-p{
        max-width: 100% !important;
    }


    .advisors-h3{
        font-size: 32px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .gamesta-advisor-card{
        max-width: 100% !important;
    }

    .sam-maz-card{
        margin-left: 0px !important;
    }



    .gamesta-hr-partners{
        display: none;
    }



    /* Partners & Investors section */
    .partners-section{
        margin-bottom: 0px !important;
    }
    
    .partners-container{
        padding: 0px 16px;
    }

    .partners-h2{
        font-size: 32px !important;
    }

    .partners-grid{
        gap: 20px !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        margin-top: 41px !important;
    }

    .partner-brand-img{
        width: 100%;
    }

    .partner-5-img{
        display: none;
    }








    /* GAMESTR Blog section */
    .blog-section{
        margin-bottom: 20px !important;
    }

    .blog-container{
        padding-top: 165px !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .blog-header{
        width: 260.3px;
    }

    .blog-logo{
        width: 100%;
    }

    .blog-h2{
        font-size: 48px !important;
    }

    .blog-h5{
        font-size: 20px !important;
    }







    /* Community section */
    .community-section{
        height: 250px !important;
        background-size: 95%;
        background-position: center center !important;
        margin-top: -80px;
    }

    .community-h2{
        font-size: 25.48px;
        top: 40% !important;
    }

    .community-icon-twitter{
        width: 53.29px !important;
        height: 35.84px !important;
        gap: 3.11px !important;
        top: 20.3% !important;
    }

    .twitter-img{
        width: 10.62px;
        height: 10.62px;
    }

    .twitter-span{
        font-size: 8px !important;
    }

    .community-icon-telegram{
        width: 67.48px !important;
        height: 35.84px !important;
        gap: 2.63px !important;
        top: 53% !important;
    }

    .telegram-img{
        width: 10.62px !important;
    }

    .telegram-span{
        font-size: 8px !important;
    }


    .community-icon-youtube{
        width: 62.42px !important;
        height: 35.84px !important;
        top: 34% !important;
        right: 6% !important;
    }

    .youtube-img{
        width: 10.62px !important;
        height: 10.62px !important;
    }

    .youtube-span{
        font-size: 8px !important;
    }

    .community-left-stick {
        width: 96px !important;
        top: 36% !important;
    }
    
    .community-right-stick {
        width: 58px !important;
        bottom: 40% !important;
    }






    /* footer section */
    .footer-container{
        padding: 0px 16px 20px !important;
    }
    
    .footer-container-div{
        flex-direction: column-reverse;
    }

    .footer-btn-desk{
        display: none;
    }

    .footer-btn-mobile{
        display: block !important;
    }

    .footer-copyright-div{
        align-items: center !important;
    }

    .footer-social-div{
        margin-bottom: 48px;
        align-self: center;
    }

    .footer-container-div-div{
        margin-bottom: 38px;
    }

    .footer-triangle-1{
        height: 41.15px !important;
    }

    .footer-triangle-2{
        height: 37.16px !important;
        top: -1px !important;
    }
}