@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@import url("./utilities.css");
@import url("./responsive.css");
@import url("./variables.css");

/* Neue Machina font family */
@font-face {
    font-family: "Neue Machina";
    src: url("../assets/fonts/Neue-Machina/PPNeueMachina-InktrapLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Neue Machina";
    src: url("../assets/fonts/Neue-Machina/PPNeueMachina-InktrapRegular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Machina";
    src: url("../assets/fonts/Neue-Machina/PPNeueMachina-InktrapUltrabold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}


/* Euclid font family */
@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

body{
    overflow-x: hidden;
}


*, *::after, *::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}



.bg-img-div{
    background-image: url("../assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: clamp(732px, calc(918.2px - 15.52vw), 832px);
}



/* header css */
.header{
    margin-bottom: 66px;
    padding-top: 31px;
}

.nav-ul{
    gap: 38px;
    transition: all .5s;
}


.mobile-header-btn{
    color: #01A590;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: none;
}


.desk-header-btn{
    color: #01A590;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.menu-btn{
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}




/* hero section */

.hero-h1{
    margin-bottom: 40px;
    margin-left: 100px;
}

.hero-left-div{
    padding-left: 168px;
}

.hero-left-div-p{
    width: 100%;
    max-width: 442px;
    margin-bottom: 44px;
}

.buy-gsg{
    margin-bottom: 8px;
}

.buy-gsg-btns{
    gap: 12px;
    margin-bottom: 41px;
}

.buy-gsg-btn{
    padding: 16px 24px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.join-our-community{
    margin-bottom: 8px;
}

.hero-social-btn-group{
    gap: 12px;
}

.hero-social-btn{
    padding: 16px;
    background: none;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    gap: 10px;
}

.macBook{
    top: 120px;
    right: 0;
    transform: translateX(-7%);
    z-index: 20;
}

.top-characters{
    top: -21%;
    right: 9%;
}

.bodyguard{
    right: 30%;
    top: -8%;
    z-index: 21;
}


.left-char{
    bottom: -28.8%;
    left: 42%;
}


.right-char{
    top: 60%;
    right: 9px;
    z-index: 21;
}

.mobile-char{
    display: none;
}









/* Gamesta dapp */
.gamesta-dapp-section{
    position: relative;
    padding-top: 123px;
    padding-bottom: 212px;
    background-color: #F5F9FA;
}

.gamesta-dapp-header{
    gap: 27px;
    padding-left: 273px;
}

.gamesta-dapp{
    margin-bottom: 11px;
}

.gamesta-dapp-p{
    width: 100%;
    max-width: 658px;
    margin-bottom: 56px;
}

.gamesta-dapp-selected-p-div{
    right: -26%;
}

.launching-in-p{
    width: fit-content;
}

.q4-2022{
    margin-left: 71px;
    margin-top: -7px;
    width: fit-content;
}

.gamesta-dapp-left-line {
    position: absolute;
    border: 1px solid var(--primary-sky);
    width: 262px;
    rotate: -6deg;
    top: 160px;
}

.gamesta-card-grid{
    padding-left: 101px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 110px; */
    row-gap: 67px;
}

.gamesta-card{
    gap: 24px;
    width: 100%;
    max-width: 490px;
}


.gamesta-card-h3{
    margin-bottom: 12px;
}

.gamesta-card-img-div{
    width: 64px;
    height: 64px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
}





/* future applications section */
.future-section{
    height: 745px;
    margin-bottom: 144px;
    margin-top: 50px;
}

.future-heading-div{
    max-width: 643px;
    margin-left: 137px;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}


.future-btn{
    padding: 20px 24px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #06C5C1, #009FEA);
}


.future-h2{
    margin-bottom: 29px;
}


.future-card{
    padding: 32px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.future-card-1{
    background-color: #EBF9FF;
    width: 199px;
    height: 199px;
    top: 22px;
    right: 23%;
    box-shadow: 0px 25px 34px -32px #27beffb7;
}

.future-card-2 {
    background-color: #EBF9FF;
    width: 193px;
    height: 193px;
    bottom: 6%;
    left: 15%;
    box-shadow: 0px 25px 34px -32px #27beffb7;
}

.future-card-3 {
    background-color: #F5F9FA;
    width: 180px;
    height: 180px;
    bottom: 38%;
    left: 21%;
    box-shadow: 0px 20px 45px -25px #d1d4d4;
}

.future-card-4 {
    background-color: #FFEAF9;
    width: 228px;
    height: 228px;
    bottom: 19%;
    left: 36%;
    box-shadow: 0px 34px 45px -28px #fc47c85e;
}

.future-card-5 {
    background-color: #F5F9FA;
    width: 180px;
    height: 180px;
    bottom: 34%;
    right: 32%;
    box-shadow: 0px 20px 45px -25px #d1d4d4;
}


.future-card-6 {
    background-color: #EEFFF3;
    width: 228px;
    height: 228px;
    bottom: 34%;
    right: 12%;
    box-shadow: 0px 20px 45px -25px #73fa9b;
}


.future-card-7 {
    background-color: #F8F3FF;
    width: 228px;
    height: 228px;
    bottom: 0%;
    right: 25%;
    box-shadow: 0px 20px 45px -25px #c399fd;
}


.future-card-img{
    width: 48px;
    height: 48px;
}

.future-card-p{
    margin-top: 16px;
}


.loan-2-buy{
    color: #0EC742;
}






/* Technical Roadmap section */
.technical-roadmap-section {
    width: 100%;
    max-width: 1174px;
    margin: 0 auto 77px auto;
}

.technical-h3 {
    margin-bottom: 60px;
}


.sky-roadmap-year {
    background-color: var(--primary-sky);
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.sky-roadmap-content {
    width: 328px;
    border: 2px solid var(--primary-sky);
    padding: 19.46px 17.54px 19.54px 19.46px;
    color: var(--primary-sky);
    border-radius: 0px 12.97px 12.97px 12.97px;
    background-color: #EBF9FF;
}

.roadmap-version {
    padding: 9.34px 15px 3.66px;
    background-color: #38484E;
    border-radius: 0px 12.97px 0px 0px;
    color: #FFFFFF;
    margin-bottom: -2px;
}

.roadmap-margin-bottom-25px {
    margin-bottom: 25.95px;
}




.right-arrow {
    margin-bottom: 62px;
    margin-right: 2px;
    align-self: flex-end;
}


.green-blue-bottom-arrow {
    margin-left: 87px;
}



.green-roadmap-year {
    background-color: #0EC742;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-green-text {
    color: #0EC742;
}


.green-roadmap-content {
    width: 328px;
    border: 2px solid #0EC742;
    background-color: #EEFFF3;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}

.roadmap-content-h5 {
    margin-bottom: 3.24px;
}



.indigo-roadmap-year {
    background-color: #5F0EC7;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-indigo-text {
    color: #5F0EC7;
}


.indigo-roadmap-content {
    width: 328px;
    border: 2px solid #5F0EC7;
    background-color: #F8F3FF;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}


.green-indigo-right-arrow {
    margin-bottom: 50px;
}

.indigo-orrange-right-arrow {
    margin-bottom: 50px;
}




.orange-roadmap-year {
    background-color: #FF7A00;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-orange-text {
    color: #FF7A00;
}


.orange-roadmap-content {
    width: 328px;
    border: 2px solid #FF7A00;
    background-color: #FFF9F1;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}



.orrange-green-bottom-arrow {
    margin-left: 87px;
    margin-top: -95px;
}


.green-pink-right-arrow {
    margin-top: 10px;
}


.pink-roadmap-year {
    background-color: #D242AA;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-pink-text {
    color: #D242AA;
}


.pink-roadmap-content {
    width: 328px;
    border: 2px solid #D242AA;
    background-color: #FFEAF9;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}


.or-p {
    color: #38484E;
    margin-bottom: 12.97px;
}







/* Gamesta team section */
.gamesta-section{
    padding-top: 192px;
}

.gamesta-triangle{
    z-index: -1;
    top: 0;
    left: 0;
    background-color: white;
    transform: scaleY(-1);
}

.top-gradient{
    width: 100%;
    height: 525px;
    background: linear-gradient(to bottom, #F5F9FA, #f5f9fa00);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.gamesta-team-card-flex{
    display: flex;
    gap: 32px;
}

.gamesta-teem-card{
    margin-bottom: 64px;
}

.jody-taylor-card,
.james-rodd-card{
    width: 100%;
    max-width: 370px;
}

.gamesta-team-h2{
    margin-right: 104px;
    width: 100%;
    max-width: 366px;
}

.gamesta-team-img{
    margin-bottom: 12px;
}

.gamesta-team-card-span{
    color: #9BA1A4;
}

.gamesta-team-p{
    margin-top: 12px;
    color: #38484E;
}


.margin-left-108px{
    margin-left: 108px;
}

.sanjay-jadhav-card{
    margin-left: 103px;
    padding-top: 123px;
}

.spencer-tarring-p, .david-silvester-p, .sanjay-jadhav-p{
    width: 100%;
    max-width: 301px;
}





.advisors-h3{
    margin-top: 38px;
    margin-bottom: 46px;
    margin-left: 108px;
}

.gamesta-advisor-group{
    gap: 56px;
}

.gamesta-advisor-card{
    width: 100%;
    max-width: 246px;
}

.hr{
    margin: 130px 0;
    border: none;
    border-top: 1px solid #D2F0FB;
    rotate: 6deg;
}






/* Partners & Investors section */
.partners-section{
    margin-bottom: 62px;
}

.partners-container{
    width: 100%;
    max-width: 1174px;
    margin: 0 auto;
}


.partners-grid{
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 23px;
}





/* GAMESTR Blog */
.blog-section{
    margin-bottom: 71px;
}

.blog-container{
    width: 100%;
    max-width: 1174px;
    margin: 0 auto;
    padding-top: 114.19px;
}

.blog-header{
    max-width: 343px;
    rotate: -6deg;
    margin-bottom: 40.91px;
}


.blog-card-group{
    gap: 32px;
    margin-bottom: 89px;
}

.blog-img{
    margin-bottom: 16px;
}

.blog-h5{
    margin-bottom: 8px;
}

.blog-span{
    color: #9BA1A4;
    display: inline-block;
    margin-bottom: 12px;
}






/* Community section */
.community-section{
    background-image: url("../assets/images/community-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
    position: relative;
    z-index: -10;
}


.community-h2{
    rotate: -6deg;
    position: absolute;
    top: 33%;
    left: 52%;
    transform: translate(-50%, -50%);
}


.community-icon-div{
    width: 135px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.8px;
    color: #FFFFFF;
    rotate: -6deg;
    position: absolute;
}


.community-icon-twitter{
    background-color: #4AA0EB;
    top: -1.7%;
    left: 47.4%;
}


.community-icon-telegram{
    background-color: #1A8BD8;
    top: 56.8%;
    left: 30.5%;
    z-index: -1;
}


.community-icon-youtube{
    background-color: #F83641;
    top: 19%;
    right: 14%;
}














/* Play 2 Earn section */

.play2earn-p{
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-sky);
    opacity: 40%;
    margin-left: 131px;
}


.play2earn-h2{
    top: 7%;
    left: 302px;
}

.play2earn-top-h4{
    margin-bottom: 8px;
    margin-left: 402px;
}


.play2earn-h4-p{
    width: 100%;
    max-width: 586px;
    margin-left: 503px;
    margin-bottom: 56px;
}



.play2earn-card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 112px;
    row-gap: 69px;
    margin-left: 101px;
    margin-bottom: 133px;
}


.play2earn-card{
    gap: 24px;
}

.play2earn-card-img{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: #EBF9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play2earn-card-content{
    width: 100%;
    max-width: 402px;
}

.play2earn-card-h3{
    margin-bottom: 12px;
}

.play-2-earn-games{
    margin-left: 101px;
}

.play2earn-games-img-1{
    width: 89px;
    height: 46px;
}
.play2earn-games-img-2{
    width: 171px;
    height: 50px;
}
.play2earn-games-img-3{
    width: 133px;
    height: 50px;
}
.play2earn-games-img-4{
    width: 105px;
    height: 50px;
}
.play2earn-games-img-5{
    width: 150px;
    height: 80px;
}
.play2earn-games-img-6{
    width: 153px;
    height: 88px;
}
.play2earn-games-img-7{
    width: 120px;
    height: 120px;
}
.play2earn-games-img-8{
    width: 95px;
    height: 66px;
}

.play2earn-blue-stick{
    width: 258.93px;
    top: 12%;
    right: 0%;
}

.play2earn-black-stick{
    width: 222px;
    left: 0;
    bottom: 17%;
}






/* Ecosystem & Treasury section */
.ecosystem-section{
    margin-bottom: 169.42px;
}

.ecosystem-h2{
    margin-left: 97px;
}

.treasuty-h2{
    margin-left: 402px;
    margin-bottom: 8px;
}

.ecosystem-header-p-group{
    margin-bottom: 35rem;
}

.ecosystem-p-1{
    width: 100%;
    max-width: 778px;
    margin-left: 402px;
}

.ecosystem-p-2{
    width: 100%;
    max-width: 404px;
    margin-left: 702px;
}

.gsg-main-div{
    top: 10.5%;
    left: 32px;
    z-index: -1;
}

.ecosystem-gsg-div-1{
    width: 686px;
    height: 686px;
    background: linear-gradient(to right, #F8F6FE, #FDFEFF);
    border-radius: 50%;
}

.ecosystem-gsg-div-2{
    width: 404px;
    height: 404px;
    border: 10px solid transparent;
    border-radius: 50%;
    background:
            linear-gradient(to top, #EBE8FC, #FDFEFF) padding-box,
            linear-gradient(45deg, #571CE3, #00B3E8) border-box;
}

.the-span{
    top: 30%;
    left: 25%;
}

.gsg-img{
    bottom: -5%;
    left: 6%;
    rotate: 11deg;
}

.gsg-bottom-p{
    width: 100%;
    max-width: 270px;
    position: absolute;
    bottom: 8%;
    left: -1%;
    text-align: end;
}

.gsg-selected-text-div{
    bottom: 22%;
    left: 0%;
}

.gsg-selected-p-1{
    margin-left: 378.75px;
    width: fit-content;
}

.gsg-selected-p-2 {
    margin-left: 547.75px;
    margin-top: -27px;
    width: fit-content;
}

.gsg-selected-p-3 {
    margin-left: 665.75px;
    margin-top: -15px;
    width: fit-content;
}

.distribution-h3{
    margin-top: 42px;
    margin-bottom: 82.44px;
    margin-left: 252.2px;
}

.distribution-div{
    margin-left: 128.99px;
    margin-bottom: 82.79px;
}

.distribution-80-p{
    width: 100%;
    max-width: 423px;
    margin-left: 41.89px;
    margin-top: 32.27px;
    position: relative;
}

.distribution-80-p::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 649.89px;
    background: #000000;
    opacity: 10%;
    top: -255%;
    right: -6%;
    rotate: -164.54deg;
}

.distribution-vertical-line{
    width: 1px;
    height: 500px;
    background: #000000;
    opacity: 10%;
    rotate: -155.54deg;
}


.remaining-20-div{
    padding-top: 72.97px;
}

.remaining-span{
    display: block;
    margin-left: 321.45px;
    margin-bottom: -6px;
}

.remaining-20-img{
    margin-left: 245.11px;
    margin-bottom: 62.27px;
}

.remaining-20-div-p{
    margin-left: 110.11px;
    margin-bottom: 36.79px;
}


.all-distri-number-div{
    margin-left: 42.11px;
    gap: 53px;
    width: 100%;
    max-width: 669.37px;
}

.str-line-height-133{
    margin-top: 19.06px;
}



.agency-div{
    width: 100%;
    height: 609.58px;
}

.agency-bg-top-right{
    position: absolute;
    top: 0%;
    right: 11.5%;
    z-index: 1;
}

.agency-bg{
    position: absolute;
    top: 57px;
    left: 12%;
    z-index: 0;
}

.agency-bg-bottom-left{
    position: absolute;
    bottom: 40.58px;
    left: 12%;
    z-index: 1;
}

.agency-h2{
    position: absolute;
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    opacity: 40%;
    top: 39.5%;
    left: 50.4%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.agency-logo{
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 34%;
}


.agency-p-1{
    position: absolute;
    width: 100%;
    max-width: 507px;
    text-align: center;
    bottom: 38%;
    left: 32%;
}

.agency-p-2{
    position: absolute;
    width: 100%;
    max-width: 646px;
    text-align: center;
    bottom: 27%;
    left: 27.5%;
}


.left-agency-stick{
    width: 257px;
    bottom: 10.5%;
    left: 0%;
}

.right-agency-stick{
    width: 280px;
    bottom: 11.5%;
    right: 0%;
}








/* Incubation & Advisory section */
.advisory-section{
    margin-bottom: 118px;
}

.advisory-h2{
    margin-left: 137px;
    margin-bottom: 18px;
}

.advisory-content-div{
    margin-left: 302px;
}

.advisory-title-paragraph{
    width: 100%;
    max-width: 873px;
    margin-bottom: 24px;
}

.advisory-services-span{
    display: inline-block;
    margin-bottom: 24px;
}


.advisory-services-grid{
    display: grid;
    grid-template-columns: 266px 266px;
    column-gap: 75px;
    row-gap: 24px;
}

.advisory-service{
    gap: 12px;
}







/* BLACK GAMEX CARD section */
.gamex-bg{
    background-color: #1B1F21;
    width: 100%;
    height: 911px;
    clip-path: polygon(0% .5%, 100% 13%, 100% 100%, 0% 100%);
    padding-top: 68px;
}


.gamex-container-div{
    margin-left: 101px;
    margin-bottom: 11.81px;
}


.gamex-h2{
    top: 67%;
    left: 9%;
}

.card-h2{
    top: 135%;
    left: 25%;
}

.gamex-container-p{
    position: absolute;
    top: 290%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.opensea-a{
    color: #00B3E8;
    text-decoration: underline;
}

.gamex-card-img-div{
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
}

.gamex-card-img{
    top: 00%;
    right: 153.67px;
    z-index: 1;
}



.gamex-left-stick{
    bottom: 188.67px;
    left: 0;
    width: 165px;
    height: 1px;
    z-index: 2;
}

.gamex-right-stick{
    top: 287.99px;
    right: 0;
    width: 165px;
    height: 1px;
    z-index: 2;
}



.gamex-triangle-1{
    position: absolute;
    width: 778px;
    height: 140px;
    clip-path: polygon(94% 0%, 100% 100%, -65% 100%);
    bottom: 0;
    z-index: 2;
    background-color: #FFFFFF;
}

.gamex-triangle-2{
    bottom: 0;
    z-index: 2;
    background: #FFFFFF;
}









/* footer section */
.footer{
    background-color: #273A41;
}

.footer-container{
    width: 100%;
    max-width: 1304px;
    margin: 23px auto 0 auto;
    padding-bottom: 57px;
}

.footer-container-div{
    display: flex;
    justify-content: space-between;
}

.footer-container-div-div{
    width: 100%;
    max-width: 479px;
}


.footer-ul{
    gap: 24px;
}


.footer-social-div{
    gap: 29px;
}



.footer-btn{
    color: #01A590;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


.join-us-div{
    gap: 16px;
}


.footer-triangle-1{
    width: 100%;
    height: 142px;
    clip-path: polygon(100% 0%, 100% 100%, 10% 100%);
    background-color: #FFFFFF;
    transform: scale(-1);
}


.footer-triangle-2{
    width: 100%;
    height: 140px;
    clip-path: polygon(73% 0%, 77% 100%, -15% 100%);
    background-color: #FFFFFF;
    transform: scale(-1);
    top: 0;
    right: 0;
}