@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@import url("./utilities.css");
@import url("./responsive.css");
@import url("./variables.css");

/* Neue Machina font family */
@font-face {
    font-family: "Neue Machina";
    src: url("../assets/fonts/Neue-Machina/PPNeueMachina-InktrapLight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Neue Machina";
    src: url("../assets/fonts/Neue-Machina/PPNeueMachina-InktrapRegular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Machina";
    src: url("../assets/fonts/Neue-Machina/PPNeueMachina-InktrapUltrabold.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}


/* Euclid font family */
@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular";
    src: url("../assets/fonts/euclid/Euclid Circular A Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

body{
    overflow-x: hidden !important;
}


*, *::after, *::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}



.bg-img-div{
    background-image: url("../assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: clamp(732px, calc(918.2px - 15.52vw), 832px);
}



/* header css */
.header{
    margin-bottom: 66px;
    padding-top: 31px;
}

.nav-ul{
    gap: 38px;
    transition: all .5s;
}


.mobile-header-btn{
    color: #01A590;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: none;
}


.desk-header-btn{
    color: #01A590;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.menu-btn{
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}




/* hero section */

.hero-h1 {
    margin-bottom: 40px;
    margin-left: clamp(0px, calc(-35.372px + 9.407vw), 100px);
}

.hero-left-div {
    padding-left: clamp(0px, calc(-59.424px + 15.804vw), 168px);
}

.hero-left-div-p {
    width: 100%;
    max-width: 442px;
    margin-bottom: 44px;
}

.buy-gsg {
    margin-bottom: 8px;
}

.buy-gsg-btns {
    gap: 12px;
    margin-bottom: 41px;
}

.buy-gsg-btn {
    padding: 16px 24px;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.join-our-community {
    margin-bottom: 8px;
}

.hero-social-btn-group {
    gap: 12px;
}

.hero-social-btn {
    padding: 16px;
    background: none;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    gap: 10px;
}


.macBook {
    anchor-name: --laptop-anchor;
    width: clamp(313.87px, calc(182.134px + 35.13vw), 688px);
    height: auto;
    z-index: 20;
    position: absolute;
    right: 5%;
    top: 98%;
    transform: translateY(-50%);
}


.characters-img-div img:not(.macBook) {
    position: absolute;
    position-anchor: --laptop-anchor;
    height: auto;
}

.bodyguard {
    bottom: anchor(top);
    right: anchor(left);
    transform: translate(303%, 5%);
    z-index: 21;
    width: clamp(45px, calc(27.314px + 4.704vw), 95px);
}

.top-characters {
    bottom: anchor(top);
    left: anchor(center);
    transform: translate(-50%, 18%);
    z-index: 19;
    width: clamp(100px, 36vw, 525px);
}

.left-char {
    bottom: anchor(bottom);
    right: anchor(left);
    transform: translate(50%, -74%);
    width: clamp(60px, calc(35.381px + 6.548vw), 129.6px);
}

.right-char {
    top: anchor(bottom);
    left: anchor(right);
    transform: translate(-65%, -245%);
    z-index: 21;
    width: clamp(60px, calc(45.568px + 3.838vw), 100.8px);
}

.mobile-char {
    display: none;
}





/* Gamesta dapp */
.gamesta-dapp-section{
    position: relative;
    padding-top: 123px;
    padding-bottom: 212px;
    background-color: #F5F9FA;
}

.gamesta-dapp-header{
    gap: 27px;
    padding-left: 273px;
}

.gamesta-dapp{
    margin-bottom: 11px;
}

.gamesta-dapp-p{
    width: 100%;
    max-width: 658px;
    margin-bottom: 56px;
}

.gamesta-dapp-selected-p-div{
    right: clamp(-170px, calc(89.913px + -18.062vw), 22px);
}

.launching-in-p{
    width: fit-content;
}

.q4-2022{
    margin-left: 71px;
    margin-top: -7px;
    width: fit-content;
}

.gamesta-dapp-left-line {
    position: absolute;
    background-color: var(--primary-sky);
    height: 1px;
    width: 262px;
    rotate: -6deg;
    top: 160px;
}

.gamesta-card-grid{
    padding-left: 101px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 110px; */
    row-gap: 67px;
}

.gamesta-card{
    gap: 24px;
    width: 100%;
    max-width: 490px;
}


.gamesta-card-h3{
    margin-bottom: 12px;
}

.gamesta-card-img-div{
    width: 64px;
    height: 64px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 7px 12px 0px #00B3E80D;
}





/* future applications section */
.future-section {
    height: clamp(265px, calc(95.827px + 45.113vw), 745px);
    margin-bottom: 144px;
    margin-top: 50px;
}

.future-heading-div {
    anchor-name: --future-heading-div;
    max-width: clamp(201px, calc(45.366px + 41.502vw), 643px);
    margin-left: clamp(0px, calc(-48.239px + 12.864vw), 137px);
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}


.future-btn {
    padding: clamp(8px, calc(3.775px + 1.127vw), 20px) clamp(8px, calc(2.366px + 1.502vw), 24px);
    border-radius: 6px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #06C5C1, #009FEA);
    box-shadow: 0 7px 12px rgb(0 179 232 / 19%);
}


.future-h2 {
    margin-bottom: clamp(13px, calc(7.366px + 1.502vw), 29px);
    font-size: clamp(30px, calc(6.655px + 6.209vw), 96px);
}


.future-card {
    border-radius: clamp(12.88px, calc(3.331px + 2.546vw), 40px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    position-anchor: --future-heading-div;
}


.future-card-1 {
    background-color: #EBF9FF;
    width: clamp(89px, calc(50.268px + 10.329vw), 199px);
    height: clamp(64px, calc(16.465px + 12.676vw), 199px);
    top: anchor(bottom);
    left: anchor(right);
    transform: translate(clamp(27px, calc(8.338px + 4.977vw), 80px), clamp(-255px, calc(-48.127px - 14.366vw), -102px));
    box-shadow: 0px 25px 34px -32px #27beffb7;
    padding-left: clamp(10px, calc(-0.916px + 2.911vw), 41px);
    padding-bottom: clamp(10px, calc(-0.563px + 2.817vw), 40px);
}

.earn2buy-img {
    width: clamp(15.46px, calc(4.002px + 3.055vw), 48px);
    height: clamp(15.46px, calc(4.002px + 3.055vw), 48px);
}

.future-card-2 {
    background-color: #EBF9FF;
    width: clamp(120px, calc(94.296px + 6.854vw), 193px);
    height: clamp(62px, calc(15.873px + 12.30vw), 193px);
    top: anchor(bottom);
    right: anchor(left);
    transform: translate(clamp(122px, calc(69.887px + 13.897vw), 270px), clamp(185px, calc(169.859px + 4.038vw), 228px));
    box-shadow: 0px 25px 34px -32px #27beffb7;
    padding-left: clamp(10px, calc(2.254px + 2.066vw), 32px);
    padding-bottom: clamp(5px, calc(-4.507px + 2.535vw), 32px);
}

.future-card-3 {
    background-color: #F5F9FA;
    width: clamp(80px, calc(44.789px + 9.39vw), 180px);
    height: clamp(58px, calc(15.042px + 11.455vw), 180px);
    top: anchor(bottom);
    right: anchor(left);
    transform: translate(clamp(109px, calc(31.887px + 20.563vw), 328px), clamp(10px, calc(17.396px - 0.514vw), 15.47px));
    padding-left: clamp(6px, calc(-2.451px + 2.254vw), 30px);
    padding-bottom: clamp(6px, calc(-3.155px + 2.441vw), 32px);
    box-shadow: 0px 20px 45px -25px #d1d4d4;
}

.future-card-4 {
    background-color: #FFEAF9;
    width: clamp(117px, calc(77.915px + 10.423vw), 228px);
    height: clamp(77px, calc(23.831px + 14.178vw), 228px);
    top: anchor(bottom);
    left: anchor(right);
    transform: translate(clamp(-287px, calc(-76.07px + -14.648vw), -131px), clamp(90px, calc(84.718px + 1.408vw), 105px));
    padding-left: clamp(9px, calc(0.901px + 2.16vw), 32px);
    padding-bottom: clamp(8px, calc(-0.451px + 2.254vw), 32px);
    box-shadow: 0px 34px 45px -28px #fc47c85e;
}

.future-card-5 {
    background-color: #F5F9FA;
    width: clamp(86px, calc(52.901px + 8.826vw), 180px);
    height: clamp(53px, calc(8.282px + 11.925vw), 180px);
    top: anchor(bottom);
    left: anchor(right);
    transform: translate(-36px, clamp(12px, calc(9.183px + 0.751vw), 20px));
    padding-left: clamp(8px, calc(-2.916px + 2.911vw), 39px);
    padding-bottom: clamp(8px, calc(-3.268px + 3.005vw), 40px);
    box-shadow: 0px 20px 45px -25px #d1d4d4;
}


.future-card-6 {
    background-color: #EEFFF3;
    width: clamp(80px, calc(27.887px + 13.897vw), 228px);
    height: clamp(74px, calc(19.775px + 14.46vw), 228px);
    top: anchor(bottom);
    left: anchor(right);
    transform: translate(clamp(62px, calc(23.268px + 10.329vw), 172px), -25px);
    padding-left: clamp(6px, calc(-5.972px + 3.192vw), 40px);
    padding-bottom: clamp(8px, calc(-3.268px + 3.005vw), 40px);
    box-shadow: 0px 20px 45px -25px #73fa9b;
}


.future-card-7 {
    background-color: #F8F3FF;
    width: clamp(138px, calc(106.31px + 8.451vw), 228px);
    height: clamp(88.46px, calc(39.326px + 13.102vw), 228px);
    top: anchor(bottom);
    left: anchor(right);
    transform: translate(6%, 105%);
    padding-left: clamp(12px, calc(2.141px + 2.629vw), 40px);
    padding-bottom: clamp(16px, calc(7.549px + 2.254vw), 40px);
    box-shadow: 0px 20px 45px -25px #c399fd;
}

.gamesta-apisdk-img {
    width: clamp(15.46px, calc(4.002px + 3.055vw), 48px);
    height: clamp(15.46px, calc(4.002px + 3.055vw), 48px);
}


.future-card-img {
    width: clamp(20px, calc(10.141px + 2.629vw), 48px);
    height: clamp(20px, calc(10.141px + 2.629vw), 48px);
}

.future-card-p {
    margin-top: clamp(5px, calc(1.127px + 1.033vw), 16px);
    font-size: clamp(12px, calc(9.183px + 0.751vw), 20px);
}


.loan-2-buy{
    color: #0EC742;
}






/* Technical Roadmap section */
.technical-roadmap-section {
    width: 100%;
    max-width: 1174px;
    margin: 0 auto 77px auto;
}

.technical-h3 {
    margin-bottom: clamp(20px, calc(5.851px + 3.763vw), 60px);
    font-size: clamp(24px, calc(19.755px + 1.129vw), 36px);
}

.roadmap-year{
    font-size: clamp(18px, calc(15.878px + 0.564vw), 24px);
}


.sky-roadmap-year {
    background-color: var(--primary-sky);
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.sky-roadmap-content {
    width: clamp(253px, calc(93.215px + 16.107vw), 325px);
    border: 2px solid var(--primary-sky);
    padding: 19.46px 17.54px 19.54px 19.46px;
    color: var(--primary-sky);
    border-radius: 0px 12.97px 12.97px 12.97px;
    background-color: #EBF9FF;
}

.roadmap-version {
    padding: 9.34px 15px 3.66px;
    background-color: #38484E;
    border-radius: 0px 12.97px 0px 0px;
    color: #FFFFFF;
    margin-bottom: -2px;
}

.roadmap-margin-bottom-25px {
    margin-bottom: 25.95px;
}




.right-arrow {
    margin-bottom: 62px;
    margin-right: 2px;
    align-self: flex-end;
}


.green-blue-bottom-arrow {
    margin-left: clamp(0px, calc(-193.074px + 19.463vw), 87px);
    width: clamp(290px, calc(63.976px + 60.113vw), 929px);
}



.green-roadmap-year {
    background-color: #0EC742;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-green-text {
    color: #0EC742;
}


.green-roadmap-content {
    width: clamp(253px, calc(93.215px + 16.107vw), 325px);
    border: 2px solid #0EC742;
    background-color: #EEFFF3;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}

.roadmap-content-h5 {
    margin-bottom: 3.24px;
}



.indigo-roadmap-year {
    background-color: #5F0EC7;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-indigo-text {
    color: #5F0EC7;
}


.indigo-roadmap-content {
    width: clamp(253px, calc(93.215px + 16.107vw), 325px);
    border: 2px solid #5F0EC7;
    background-color: #F8F3FF;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}


.green-indigo-right-arrow {
    margin-bottom: 50px;
}

.indigo-orrange-right-arrow {
    margin-bottom: 50px;
}




.orange-roadmap-year {
    background-color: #FF7A00;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-orange-text {
    color: #FF7A00;
}


.orange-roadmap-content {
    width: clamp(253px, calc(93.215px + 16.107vw), 325px);
    border: 2px solid #FF7A00;
    background-color: #FFF9F1;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}



.orange-green-bottom-arrow {
    margin-left: clamp(0px, calc(-193.074px + 19.463vw), 87px);
    margin-top: -95px;
    width: clamp(290px, calc(63.976px + 60.113vw), 929px);
}


.green-pink-right-arrow {
    margin-top: 10px;
}


.pink-roadmap-year {
    background-color: #D242AA;
    width: fit-content;
    padding: 17.34px 20.5px 11.66px;
    border-radius: 12.97px 12.97px 0px 0px;
    color: #FFFFFF;
}

.roadmap-pink-text {
    color: #D242AA;
}


.pink-roadmap-content {
    width: clamp(253px, calc(93.215px + 16.107vw), 325px);
    border: 2px solid #D242AA;
    background-color: #FFEAF9;
    padding: 19.46px 17.54px 19.54px 19.46px;
    border-radius: 0px 12.97px 12.97px 12.97px;
}


.or-p {
    color: #38484E;
    margin-bottom: 12.97px;
}







/* Gamesta team section */
.gamesta-section{
    padding-top: 192px;
}

.gamesta-triangle{
    z-index: -1;
    top: 0;
    left: 0;
    background-color: white;
    transform: scaleY(-1);
}

.top-gradient{
    width: 100%;
    height: 525px;
    background: linear-gradient(to bottom, #F5F9FA, #f5f9fa00);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}



/* Container Grid Layout */
.gamesta-team-card-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: start;
    column-gap: 32px;
    margin-right: clamp(0px, calc(-567.518px + 55.422vw), 230px);
}


.gamesta-team-h2 {
    grid-column: 1;
    grid-row: 1;
    margin-right: clamp(0px, calc(-36.786px + 9.784vw), 104px);
    width: 100%;
    max-width: 366px;
    justify-self: self-end;
    font-size: clamp(40px, calc(28.681px + 3.01vw), 72px);
}

.jody-taylor-card {
    grid-column: 1;
    grid-row: 1;
    margin-top: 46%;
}

.james-rodd-card {
    grid-column: 1;
    grid-row: 2;
}

/* Grid Column 2: Spencer -> David */
.spencer-tarring-card {
    grid-column: 2;
    grid-row: 1;
}

.david-silvester-card {
    grid-column: 2;
    grid-row: 2;
    margin-top: -65%;
}

/* Grid Column 3: Sanjay */
.sanjay-jadhav-card {
    grid-column: 3;
    grid-row: 1;
    padding-top: 123px;
}


.gamesta-teem-card {
    margin-bottom: 64px;
}

.jody-taylor-card,
.james-rodd-card {
    width: 100%;
    max-width: 370px;
    place-self: self-end;
}

.gamesta-team-img {
    margin-bottom: 12px;
}

.gamesta-team-card-span {
    color: #9BA1A4;
}

.gamesta-team-p {
    margin-top: 12px;
    color: #38484E;
}

.margin-left-108px {
    margin-left: 108px;
}

.spencer-tarring-p,
.david-silvester-p,
.sanjay-jadhav-p {
    width: 100%;
    max-width: 301px;
}


.advisors-div{
    margin-left: clamp(0px, calc(-249.214px + 24.337vw), 101px);
}


.advisors-h3{
    margin-top: 38px;
    margin-bottom: 46px;
}

.gamesta-advisor-group{
    gap: 56px;
    flex-wrap: wrap;
}

.gamesta-advisor-card{
    width: 100%;
    max-width: 246px;
}

.hr{
    margin: 130px 0;
    border: none;
    border-top: 1px solid #D2F0FB;
    rotate: 6deg;
}






/* Partners & Investors section */
.partners-section{
    margin-bottom: 62px;
}

.partners-container{
    width: 100%;
    max-width: 1174px;
    margin: 0 auto;
}


.partners-grid{
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 23px;
}





/* GAMESTR Blog */
.blog-section{
    margin-bottom: 71px;
}

.blog-container{
    width: 100%;
    max-width: 1174px;
    margin: 0 auto;
    padding-top: 114.19px;
}

.blog-header{
    max-width: 343px;
    rotate: -6deg;
    margin-bottom: 40.91px;
}


.blog-card-group{
    gap: 32px;
    margin-bottom: 89px;
    flex-wrap: wrap;
}

.blog-card{
    width: 100%;
    max-width: 370px;
}

.blog-img{
    margin-bottom: 16px;
    width: 100%;
}

.blog-h2{
    margin-top: 20px;
}

.blog-h5{
    margin-bottom: 8px;
}

.blog-span{
    color: #9BA1A4;
    display: inline-block;
    margin-bottom: 12px;
}






/* Community section */
.community-section{
    background-image: url("../assets/images/community-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    height: 500px;
    position: relative;
    z-index: -10;
}


.community-h2{
    anchor-name: --community-h2-anchor;
    rotate: -6deg;
    position: absolute;
    top: 33%;
    left: 52%;
    transform: translate(-50%, -50%);
}


.community-icon-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.8px;
    color: #FFFFFF;
    rotate: -6deg;
    position: absolute;
    position-anchor: --community-h2-anchor;
}


.community-icon-twitter{
    width: clamp(53.29px, calc(24.388px + 7.687vw), 135px);
    height: clamp(35.84px, calc(0.766px + 9.328vw), 135px);
    background-color: #4AA0EB;
    bottom: anchor(top);
    right: anchor(left);
    transform: translate(343%, 74%);
}

.twitter-img, .telegram-img, .youtube-img{
    width: clamp(10.62px, calc(0.228px + 2.764vw), 40px);
    height: clamp(10.62px, calc(0.228px + 2.764vw), 40px);
}


.community-icon-telegram{
    width: clamp(67.48px, calc(43.597px + 6.352vw), 135px);
    height: clamp(35.84px, calc(0.766px + 9.328vw), 135px);
    background-color: #1A8BD8;
    top: anchor(bottom);
    right: anchor(left);
    transform: translate(176%, -25%);
    z-index: -1;
}


.community-icon-youtube{
    width: clamp(62.41px, calc(36.734px + 6.829vw), 135px);
    height: clamp(35.84px, calc(0.766px + 9.328vw), 135px);
    background-color: #F83641;
    top: anchor(bottom);
    left: anchor(right);
    transform: translate(-5%, -185%);
}














/* Play 2 Earn section */
.play2earn-heading-div{
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
}

.play2earn-p{
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-sky);
    opacity: 40%;
    margin-left: clamp(7px, calc(-36.662px + 11.643vw), 131px);
}


.play2earn-h2{
    top: 7%;
    left: clamp(60.81px, calc(-24.116px + 22.647vw), 302px);
    font-size: clamp(31.21px, calc(8.397px + 6.084vw), 96px);
}

.play2earn-top-h4{
    margin-left: clamp(0px, calc(-141.549px + 37.746vw), 402px);
    margin-bottom: clamp(8px, calc(29.634px + -1.502vw), 24px);
}


.play2earn-h4-p{
    max-width: 586px;
    margin-left: clamp(23px, calc(-146.173px + 45.113vw), 503px);
    margin-bottom: 56px;
}



.play2earn-card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: clamp(20px, calc(-12.425px + 8.647vw), 112px);
    row-gap: clamp(48px, calc(40.599px + 1.974vw), 69px);
    margin-left: clamp(0px, calc(-35.597px + 9.492vw), 101px);
    margin-bottom: 133px;
}


.play2earn-card{
    gap: 24px;
}

.nfts-card-mobile, .token-dynamics-card-mobile{
    display: none;
}

.play2earn-card-img{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: #EBF9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play2earn-card-content{
    width: 100%;
    max-width: 402px;
}

.play2earn-card-h3{
    margin-bottom: 12px;
}

.play-2-earn-games{
    margin-left: clamp(0px, calc(-35.597px + 9.492vw), 101px);
}

.play2earn-games-div{
    overflow-x: auto;
    gap: 32px;
}

.play2earn-games-div::-webkit-scrollbar{
    display: none;
}

.play2earn-games-img-1{
    width: 89px;
    height: 46px;
}
.play2earn-games-img-2{
    width: 171px;
    height: 50px;
}
.play2earn-games-img-3{
    width: 133px;
    height: 50px;
}
.play2earn-games-img-4{
    width: 105px;
    height: 50px;
}
.play2earn-games-img-5{
    width: 150px;
    height: 80px;
}
.play2earn-games-img-6{
    width: 153px;
    height: 88px;
}
.play2earn-games-img-7{
    width: 120px;
    height: 120px;
}
.play2earn-games-img-8{
    width: 95px;
    height: 66px;
}

.play2earn-blue-stick{
    width: clamp(99px, calc(42.634px + 15.031vw), 258.93px);
    top: 12%;
    right: 0%;
}

.play2earn-blue-stick-mobile{
    display: none;
}

.play2earn-black-stick{
    width: 222px;
    left: 0;
    bottom: 17%;
}






/* Ecosystem & Treasury section */
.ecosystem-section{
    margin-bottom: 169.42px;
}

.ecosystem-h2{
    margin-left: clamp(0px, calc(-34.187px + 9.117vw), 97px);
}

.treasuty-h2{
    margin-left: clamp(93px, calc(-15.905px + 29.041vw), 402px);
    margin-bottom: 8px;
}

.ecosystem-header-p-group{
    margin-bottom: 35rem;
}

.ecosystem-p-1{
    max-width: 778px;
    margin-left: clamp(0px, calc(-142.194px + 37.817vw), 402px);
    margin-bottom: clamp(0px, calc(37.904px + -2.634vw), 28px);
}

.ecosystem-p-2{
    max-width: 404px;
    margin-left: clamp(71px, calc(-152.195px + 59.36vw), 702px);
}

.gsg-main-div-container{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

.gsg-main-div{
    top: clamp(-765px, calc(-135.522px + -43.744vw), -300px);
    left: clamp(16px, calc(10.341px + 1.505vw), 32px);
    z-index: -1;
}

.ecosystem-gsg-div-1{
    width: clamp(184.99px, calc(7.775px + 47.132vw), 686px);
    height: clamp(184.99px, calc(7.775px + 47.132vw), 686px);
    background: linear-gradient(to right, #F8F6FE, #FDFEFF);
    border-radius: 50%;
}

.ecosystem-gsg-div-2{
    width: clamp(108.94px, calc(4.573px + 27.757vw), 404px);
    height: clamp(108.94px, calc(4.573px + 27.757vw), 404px);
    border: clamp(2px, calc(-0.83px + 0.753vw), 10px) solid transparent;
    border-radius: 50%;
    background:
            linear-gradient(to top, #EBE8FC, #FDFEFF) padding-box,
            linear-gradient(45deg, #571CE3, #00B3E8) border-box;
}

.the-span{
    top: 30%;
    left: 25%;
    font-size: clamp(8px, calc(2.341px + 1.505vw), 24px);
}

.gsg-img{
    bottom: 0%;
    left: 6%;
    rotate: 11deg;
    width: clamp(21.84px, calc(0.914px + 5.565vw), 81px);
    height: clamp(21.84px, calc(0.914px + 5.565vw), 81px);
}

.gsg-bottom-p{
    width: clamp(207px, calc(184.716px + 5.927vw), 270px);
    position: absolute;
    bottom: clamp(-45px, calc(-85.677px + 10.818vw), 70px);
    left: -5%;
    text-align: end;
    font-size: clamp(12px, calc(11.293px + 0.188vw), 14px);
}

.gsg-selected-text-div{
    bottom: 22%;
    left: 0%;
}

.gsg-selected-p-1,
.gsg-selected-p-2,
.gsg-selected-p-3 {
    font-size: clamp(12px, calc(-0.734px + 3.387vw), 48px);
}

.gsg-selected-p-1{
    margin-left: clamp(102.75px, calc(5.124px + 25.964vw), 378.75px);
    width: fit-content;
}

.gsg-selected-p-2 {
    margin-left: clamp(144px, calc(1.187px + 37.982vw), 547.75px);
    margin-top: -27px;
    width: fit-content;
}

.gsg-selected-p-3 {
    margin-left: clamp(173px, calc(-1.294px + 46.355vw), 665.75px);
    margin-top: -15px;
    width: fit-content;
}

.distribution-h3{
    margin-top: 42px;
    margin-bottom: 82.44px;
    margin-left: clamp(0px, calc(-89.207px + 23.725vw), 252.2px);
}

.distribution-div{
    margin-left: clamp(0px, calc(-45.626px + 12.135vw), 128.99px);
    margin-bottom: 82.79px;
    position: relative;
}

.distribution-80-p{
    width: 100%;
    max-width: 423px;
    margin-left: 41.89px;
    margin-top: 32.27px;
    position: relative;
}

.distribution-number-hr{
    display: none;
}


.remaining-20-div::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 649.89px;
    background: #000000;
    opacity: 10%;
    top: 0%;
    left: 0%;
    rotate: -164.54deg;
}

.distribution-vertical-line{
    width: 1px;
    height: 500px;
    background: #000000;
    opacity: 10%;
    rotate: -155.54deg;
}


.remaining-20-div{
    padding-top: 72.97px;
    position: relative;
}

.remaining-span{
    display: block;
    margin-left: clamp(40.35px, calc(-59.08px + 26.444vw), 321.45px);
    margin-bottom: -6px;
}


.distribution-number80{
    width: clamp(343px, calc(322.477px + 5.458vw), 401.02px);
}



.remaining-20-img{
    width: clamp(343px, calc(322.477px + 5.458vw), 401.02px);
    margin-left: clamp(0px, calc(-86.699px + 23.058vw), 245.11px);
    margin-bottom: clamp(24px, calc(10.463px + 3.6vw), 62.27px);
}

.remaining-20-div-p{
    margin-left: clamp(0px, calc(-38.948px + 10.358vw), 110.11px);
    margin-bottom: clamp(24px, calc(19.476px + 1.203vw), 36.79px);
}


.all-distri-number-div{
    margin-left: clamp(0px, calc(-93.452px + 9.421vw), 42.11px);
    gap: 53px;
    width: 100%;
    max-width: 669.37px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.number-div-1{
    width: 90.87px;
}

.number-div-2{
    width: 124.14px;
}

.number-div-3{
    width: 132.94px;
}

.number-div-4{
    width: 162.43px;
}

.str-line-height-133{
    margin-top: 19.06px;
}



.agency-div{
    width: 100%;
    height: clamp(196.39px, calc(50.238px + 38.87vw), 609.58px);
}

.agency-bg-top-right{
    position: absolute;
    top: clamp(-20px, calc(3.013px + -1.599vw), -3px);
    right: clamp(11px, calc(-48.778px + 15.898vw), 180px);
    z-index: 1;
    width: clamp(29.14px, calc(7.454px + 5.768vw), 90.45px);
}

.agency-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(325.4px, calc(83.246px + 64.403vw), 1010px);
    z-index: 0;
}

.agency-bg-bottom-left{
    position: absolute;
    bottom: clamp(25px, calc(7.314px + 4.704vw), 75px);
    left: clamp(10px, calc(-53.669px + 16.933vw), 190px);
    z-index: 1;
    width: clamp(29.14px, calc(7.613px + 5.725vw), 90px);
}

.agency-h2{
    position: absolute;
    font-size: clamp(62px, calc(16.017px + 12.23vw), 192px);
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    opacity: 40%;
    top: clamp(68px, calc(17.419px + 13.452vw), 211px);
    left: 50.4%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.agency-logo{
    position: absolute;
    z-index: 2;
    top: clamp(47px, calc(12.336px + 9.219vw), 145px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(141.11px, calc(36.095px + 27.929vw), 438px);
}


.agency-p-1{
    position: absolute;
    width: clamp(177px, calc(60.274px + 31.044vw), 507px);
    text-align: center;
    bottom: clamp(71px, calc(14.759px + 14.958vw), 230px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(10px, calc(5.048px + 1.317vw), 24px);
}

.agency-p-2{
    position: absolute;
    width: clamp(291px, calc(165.431px + 33.396vw), 646px);
    text-align: center;
    bottom: clamp(30px, calc(-19.52px + 13.17vw), 170px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(8px, calc(5.17px + 0.753vw), 16px);
}


.left-agency-stick{
    width: clamp(47px, calc(-33.647px + 21.449vw), 275px);
    bottom: clamp(95px, calc(22.488px + 19.285vw), 300px);
    left: 0%;
}

.right-agency-stick{
    width: clamp(50px, calc(-40.198px + 23.989vw), 305px);
    bottom: clamp(95px, calc(11.877px + 22.107vw), 330px);
    right: 0%;
}

.agency-btn{
    display: none;
}








/* Incubation & Advisory section */
.advisory-section{
    margin-bottom: 118px;
}

.advisory-h2{
    margin-left: clamp(0px, calc(-48.459px + 12.888vw), 137px);
    margin-bottom: clamp(12px, calc(9.878px + 0.564vw), 18px);
}

.advisory-content-div{
    margin-left: clamp(0px, calc(-106.822px + 28.41vw), 302px);
}

.advisory-title-paragraph{
    max-width: 873px;
    margin-bottom: 24px;
}

.advisory-services-span{
    display: block;
    margin-bottom: 24px;
}


.advisory-services-grid{
    display: grid;
    grid-template-columns: 266px 266px;
    column-gap: 75px;
    row-gap: 24px;
}

.advisory-service{
    gap: 12px;
}


.advisory-left-stick{
    width: clamp(0px, calc(-97.272px + 25.87vw), 275px);
    top: 43%;
}







/* BLACK GAMEX CARD section */
.gamex-bg{
    background-color: #1B1F21;
    width: 100%;
    height: clamp(213.38px, calc(-33.379px + 65.627vw), 911px);
    clip-path: polygon(0% .5%, 100% 13%, 100% 100%, 0% 100%);
    padding-top: 68px;
}


.gamex-container-div{
    margin-left: clamp(38.81px, calc(16.812px + 5.85vw), 101px);
    margin-bottom: 11.81px;
}


.gamex-h2{
    top: clamp(24px, calc(0.655px + 6.209vw), 90px);
    left: 9%;
}

.card-h2{
    top: clamp(47px, calc(-0.044px + 12.512vw), 180px);
    left: 25%;
}

.gamex-container-p{
    position: absolute;
    top: clamp(115px, calc(21.265px + 24.929vw), 380px);
    left: 30%;
    transform: translate(-50%, -50%);
    width: clamp(103.52px, calc(-16.202px + 31.841vw), 441.99px);
    font-size: clamp(10px, calc(2.218px + 2.07vw), 32px);
}

.opensea-a{
    color: #00B3E8;
    text-decoration: underline;
}

.gamex-card-img-div{
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
}

.gamex-card-img{
    top: 0%;
    right: clamp(32px, calc(-11.037px + 11.446vw), 153.67px);
    z-index: 1;
    width: clamp(224.07px, calc(20.354px + 54.18vw), 800px);
}



.gamex-left-stick{
    bottom: clamp(65px, calc(21.256px + 11.634vw), 188.67px);
    left: 0;
    width: clamp(55px, calc(16.091px + 10.348vw), 165px);
    height: 1px;
    z-index: 2;
}

.gamex-right-stick{
    top: clamp(95px, calc(26.736px + 18.155vw), 287.99px);
    right: 0;
    width: clamp(40px, calc(-4.214px + 11.759vw), 165px);
    height: 1px;
    z-index: 2;
}



.gamex-triangle-1{
    position: absolute;
    width: 778px;
    height: 140px;
    clip-path: polygon(94% 0%, 100% 100%, -65% 100%);
    bottom: -1px;
    z-index: 2;
    background-color: #FFFFFF;
}

.gamex-triangle-2{
    bottom: 0;
    z-index: 2;
    background: #FFFFFF;
    margin-bottom: -1px;
}



.community-left-stick{
    position: absolute;
    width: clamp(96px, calc(-6.931px + 27.375vw), 387px);
    top: 25%;
    left: 0%;
}

.community-right-stick{
    position: absolute;
    width: clamp(58px, calc(-9.913px + 18.062vw), 250px);
    bottom: 37%;
    right: 0%;
}









/* footer section */
.footer{
    background-color: #273A41;
}

.footer-container{
    width: 100%;
    max-width: 1304px;
    margin: 23px auto 0 auto;
    padding-bottom: 57px;
}

.footer-container-div{
    display: flex;
    justify-content: space-between;
}

.footer-container-div-div{
    width: 100%;
    max-width: 479px;
}


.footer-ul{
    gap: 24px;
}


.footer-social-div{
    gap: 29px;
}


.footer-btn{
    color: #01A590;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.footer-btn-mobile {
    display: none;
}


.join-us-div{
    gap: 16px;
}


.footer-triangle-1{
    width: 100%;
    height: clamp(41.15px, calc(5.478px + 9.487vw), 142px);
    clip-path: polygon(100% 0%, 100% 100%, 10% 100%);
    background-color: #FFFFFF;
    transform: scale(-1);
}


.footer-triangle-2{
    width: 100%;
    height: clamp(37.16px, calc(0.784px + 9.675vw), 140px);
    clip-path: polygon(73% 0%, 77% 100%, -15% 100%);
    background-color: #FFFFFF;
    transform: scale(-1);
    top: 0;
    right: 0;
    margin-top: -1px;
}