.container{
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
}

.str-font-abeezee {
    font-family: "ABeeZee", sans-serif;
    font-style: normal;
}

.str-font-neue{
    font-family: "Neue Machina";
}

.str-font-euclid{
    font-family: "Euclid Circular";
}



/* font weight */
.str-font-900{
    font-weight: 900;
}
.str-font-800{
    font-weight: 800;
}
.str-font-700{
    font-weight: 700;
}
.str-font-600{
    font-weight: 600;
}
.str-font-500{
    font-weight: 500;
}
.str-font-400{
    font-weight: 400;
}
.str-font-300{
    font-weight: 300;
}



/* font size */
.str-font-144px{
    font-size: 144px;
}

.str-font-96px{
    font-size: 96px;
}

.str-font-72px{
    font-size: 72px;
}

.str-font-64px{
    font-size: 64px;
}

.str-font-48px{
    font-size: 48px;
}
.str-font-36px{
    font-size: 36px;
}
.str-font-28px{
    font-size: 28px;
}
.str-font-24px{
    font-size: 24px;
}
.str-font-20px{
    font-size: 20px;
}
.str-font-18px{
    font-size: 18px;
}
.str-font-16px{
    font-size: 16px;
}
.str-font-14px{
    font-size: 14px;
}
.str-font-13px{
    font-size: 13px;
}
.str-font-12px{
    font-size: 12px;
}
.str-font-11px{
    font-size: 11px;
}



/* line height */
.str-line-height-100{
    line-height: 100%;
}
.str-line-height-120{
    line-height: 120%;
}
.str-line-height-140{
    line-height: 140%;
}
.str-line-height-130{
    line-height: 130%;
}

.str-line-height-133{
    line-height: 133%;
}

.str-line-height-110infi{
    line-height: 110.00000000000001%;
}

.str-line-height-16px{
    line-height: 16px;
}


/* letter spacing */
.str-letter-10{
    letter-spacing: 10%;
}



.str-text-uppercase{
    text-transform: uppercase;
}


.str-text-center{
    text-align: center;
}

.str-text-right{
    text-align: right;
}





.str-flex{
    display: flex;
}

.str-flex-1{
    flex: 1;
}

.str-flex-wrap{
    flex-wrap: wrap;
}

.str-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.str-align-center{
    align-items: center;
}

.str-justify-between{
    justify-content: space-between;
}

.str-flex-col{
    flex-direction: column;
}

.str-flex-row{
    flex-direction: row;
}




.str-color-white{
    color: #FFFFFF
}

.str-primary-sky{
    color: var(--primary-sky);
}


.str-primary-dark{
    color: var(--primary-dark);
}


.str-position-relative{
    position: relative;
}


.str-position-absolute{
    position: absolute;
}


.str-text-selected{
    padding: 9.63px 16.75px;
    background-color: var(--primary-sky);
    rotate: -6deg;
    text-wrap: nowrap;
    color: #FFFFFF;
}


.str-width-100{
    width: 100%;
}


.str-background-dark600{
    background-color: #F5F9FA;
}

.str-background-white{
    background-color: #FFFFFF;
}


.triangle-shape {
    position: absolute;
    width: 100%;
    height: 155px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.str-bottom-0{
    bottom: 0;
}


.str-rotate-6deg{
    rotate: -6deg;
}
.str-rotate-3deg{
    rotate: -3deg;
}


.stick-blue{
    position: absolute;
    border: 1px solid var(--primary-sky);
    rotate: -6deg;
}

.stick-black{
    position: absolute;
    border: 1px solid var(--primary-dark);
    rotate: -6deg;
}